$primary:       #6E707A;
$secondary:     #100E1D;
$dark:          #1E213A;
$lightgray:     #A09FB1;
$darkgray:      #88869D;
$light:         #E7E7EB;
$black:         #000000;
$warning:       #FFEC65;


$enable-rounded: false;
$box-shadow-lg: 0 4px 4px rgba($black, .25);